/* recommendation card*/
.card {
    max-width: 80%;
    margin: auto;
    border-width: 3px;
}

.movie {
    border-color: #AA151B;
}

.menu_book {
    border-color: #F1BF00;
}

.live_tv {
    border-color: #058E6E;
}


.card-header {
    background-color: white;
}

.card-footer {
    background-color: white;
    margin-top: 20px;
}

.created-by {
    padding-top: 30px;
}

#module {
    width: 500px;
}

#module p.collapse[aria-expanded="false"] {
    display: block;
    height: 40px !important;
    overflow: hidden;
}

#module p.collapsing[aria-expanded="false"] {
    height: 40px !important;
}

#module a.collapsed:after {
    content: '+ Show More';
}

#module a:not(.collapsed):after {
    content: '- Show Less';
}

.rating {
    color: gold;
}

.edit {
    color: grey;
}

.edit:hover {

    color: black;
}

/* flash messages */

.flash {
    background-color: #AA151B;
    color: white;
    max-width: 80%;
    line-height: 2;
    margin: auto;
    border-radius: .25rem;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

/* icons */

.icons-movie {
    text-align: center;
    color: #AA151B;
    font-size: 100px;
    padding-top: 20px;

}

.icons-menu_book {
    text-align: center;
    color: #F1BF00;;
    font-size: 100px;
    padding-top: 20px;

}

.icons-live_tv {
    text-align: center;
    color: #058E6E;
    font-size: 100px;
    padding-top: 20px;

}

/* buttons */

.btn-primary {
    background-color: #058E6E;
    border-color: #058E6E;
}

.cancel {
    background-color: #AA151B;
    border-color: #AA151B;
}

.delete {
    background-color: #058E6E;
    border-color: #058E6E;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#AA151B;
    color: white;
    text-align: center;
  }
