{% extends "base.html" %}
{% block content %}
<main>
<h1 class="intro">A little about us!</h1>
<p>In order to take your Spanish language learning skills to the next level you have to surrounds
    yourself with the language.</p>
<p>
    We know it is not always possible to immerse yourself by living in a Spanish speaking country, but you can still can
    still immerse yourself by watching TV and movies in Spanish, reading in Spanish, essentially get as much Spanish
    input into your daily live as possible.
</p>
<p>
    This is another fanastic idea that has come from our
    <a href="https://donnaib.github.io/dublin_intercambio/" target="_blank">Dublin Intercambio</a> community. We are
    always asked for recommendations of movies to watch or books to read to help improve your Spanish. The number of times we hear
    language partners discussing a new Netflix series or the latest movie they have watched. So we thought we would create a space where
    members of our community, and the wider Spanish learning community can share recommendations, rate them and provide an indication of
    the level of Spanish required to enjoy it!
</p>
<p>
   What are you waiting for? Check out the <a href="{{ url_for('get_recommendations') }}">recommendations</a>, then 
   <a href="{{ url_for('register') }}">register</a> and create your own.
</p>
</main>

{% endblock %}