{% extends "base.html" %}
{% block content %}
<div class="add-category-btn">
    <a class="btn btn-primary" href="{{ url_for('add_category')}}">Add Category</a>
</div>
<div class="album py-5">
    <div class="container">
        <div class="row">
            {% for category in categories %}
            <div class="col-md-4">
                <div class="card-deck">
                    <div class="card mb-4 box-shadow {{ category.category_icon }}">
                        <span class="material-icons icons icons-{{ category.category_icon }}">
                            {{ category.category_icon }}
                        </span>
                        <div class="card-body">
                            <p class="card-text category-name">{{ category.category_name }}</p>
                            <hr>
                            <div class="category-controls">
                                <a class="material-icons edit"
                                    href="{{ url_for('edit_category', category_id=category._id) }}">edit</a>
                                <a class="material-icons edit" data-toggle="modal"
                                    data-target="#exampleModal{{ loop.index }}">delete</a>
                            </div>
                        </div>
                                <!-- Delete Verification Modal -->
                                <div class="modal fade" id="exampleModal{{ loop.index }}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel{{ loop.index }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel{{ loop.index }}">Delete Recommendation?
                                                </h5>
                                                <button class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete this recommendation?
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary cancel"
                                                    data-dismiss="modal">Cancel</button>
                                                <a class="btn btn-primary delete"
                                                    href="{{ url_for('delete_category', category_id=category._id) }}">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% endblock %}