{% extends "base.html" %}
{% block content %}


<div class="card container">
    <h5 class="card-header text-center">Edit Category</h5>
    <div class="card-body">
        <h5 class="card-title">Please complete all the fields below</h5>
        <form method="POST" action="{{ url_for('add_category') }}">

            <!-- name -->
            <div class="form-group">
                <label for="rec_name">Name</label>
                <input type="text" class="form-control" id="category_name" name="category_name" value="{{ category.category_name }}" pattern=".*\S+.*" oninvalid="this.setCustomValidity('Please enter a valid name')" required>
            </div>

            <!-- icon -->
            <div class="form-group">
                <label for="rec_by">Material Design Icon</label>
                <input type="text" class="form-control" name="category_icon" value="{{ category.category_icon }}" id="category_icon" pattern=".*\S+.*" oninvalid="this.setCustomValidity('Please enter a valid name')" required>
            </div>

            <!-- submit button -->
            <div>
            <button type="submit" class="btn btn-primary">Edit</button>
            <a href="{{ url_for('get_categories') }}" class="btn btn-primary cancel">Cancel</a>
            </div>
        </form>
    </div>
</div>




{% endblock %}