{% extends "base.html" %}
{% block content %}


<div class="card container">
    <h5 class="card-header text-center">Log In</h5>
    <div class="card-body">
        <h5 class="card-title">Enter your details below</h5>
        <form method="POST" action="{{ url_for('login') }}">

            <!-- username -->
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" minlength="3" max-length="15"
                    pattern="^[a-zA-Z0-9]{3,15}$" required placeholder="Username">

            </div>

            <!-- password -->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                    pattern="^[a-zA-Z0-9]{8,15}$" minlength="8" required oninvalid="this.setCustomValidity('Please enter a valid password')">
            </div>

            <!-- register button -->
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
        <div class="card-footer text-muted text-center">
            Don't have an account?
            <a href="{{ url_for('register') }}">Register here</a>
        </div>

    </div>
</div>


{% endblock %}