{% extends "base.html" %}
{% block content %}

<h1>Surround Yourself with Spanish</h1>
<h2>Check out our recommendations</h2>

{% for recommendation in recommendations %}

    {{ recommendation.category_name }}<br>
    {{ recommendation.rec_name }}<br>
    {{ recommendation.rec_by }}<br>
    {{ recommendation.rec_description }}<br>
    {{ recommendation.level }}<br>
    {{ recommendation.rec_rating }}<br>
    {{ recommendation.created_by }}<br>
    {{ recommendation.time_created }}<br>

{% endfor %}

{% endblock %}