{% extends "base.html" %}
{% block content %}

<main role="main">

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          {% for recommendation in recommendations %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
               <span class="material-icons category-icons">
                {{ recommendation.category_icon }}
               </span>
                <div class="card-body">
                  <p class="card-text">Name: {{ recommendation.rec_name }}</p>
                  <p class="card-text">By: {{ recommendation.rec_by }}</p>
                  <p class="card-text">
                    <small><a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Read description
                    </a></small>
                    <p class="collapse" id="collapseExample">
                      {{ recommendation.rec_description}}
                    </p>

                <hr>
                <p class="card-text">Level: {{ recommendation.level }}</p>
                <div class="d-flex">
                 <span class="material-icons" style="color: gold;">star</span>
                </div>
                 <small class="text-muted padding-top: 20px;">{{ recommendation.created_by}}</small>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </main>

{% endblock %}